.cards {
    padding: 70px 0;
    background-color: #F5F1EA;
}

.cards-items {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

@media (max-width: 576px) {
    .cards {
        padding-bottom: 50px;
    }

    .cards-items {
        justify-content: center;
    }
}